*{margin: 0; padding: 0;}

ol, ul{list-style: none;}

a{color: #333; text-decoration: none;}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #3E4551 !important;
}

table{border-collapse: collapse;}

/* header nav */
#root {overflow: hidden;}
#root .navbar {background: #fff;}
#root .navbar-toggler {border: 0;}
#root .nav-item a {text-align: end; padding: 1rem; font-size: 1.25rem; font-weight: 600; box-sizing: border-box;}

/* footer */
footer {background: #fff; margin-bottom: 0; margin-top: 1rem;}
footer address {padding: 1rem 2rem; margin: 0;}
footer address p {color: #333; font-size: 1.125rem; font-weight: 600;}